<!--
 Name: Qi Yang  
 StudentID: 301313468     
 Date: 2022/10/29

-->    
    
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">All rights reserved. COMP229 - Midterm Test</p>
            <p class="text-muted text-center">Default username:eric123 passwd:eric123</p>
        </div>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var getTitle = "<%= title %>";
    </script>
    <script src="/javascripts/appclient.js"></script>    
</body>
</html>